@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black
        url("https://media.giphy.com/media/hL9q5k9dk9l0wGd4e0/giphy.gif") center
        no-repeat;
    
  }
  
  .spinner {
    margin-top: -100px;
    color: beige;
  }
